<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="icon" th:href="@{/layuimini/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<!--    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}" media="screen">
</head>
<body>

<div th:fragment="common_section" class="header_section">
    <div class="header_main">
        <div class="mobile_menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo_mobile"><a th:href="@{/index}"><img src="images/logo.png"></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/home}">首页</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/services}">产品介绍</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/blog}">解决方案</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/blog}">专利荣誉</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">成功案例</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/blog}">关于我们</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/login}">系统</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid">
<!--            <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>-->
            <div class="menu_main">
                <ul>
                    <li class="active"><a th:href="@{/home}">首页</a></li>
                    <li><a th:href="@{/services}">产品介绍</a></li>
                    <li><a th:href="@{/solution}">解决方案</a></li>
                    <li><a th:href="@{/blog}">专利荣誉</a></li>
                    <li><a th:href="@{/successful}">成功案例</a></li>
                    <li><a th:href="@{/about}">关于我们</a></li>
                    <li><a th:href="@{/login}">系统</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="common_end" class="footer_section layout_padding">
    <div class="container">
        <div class="input_btn_main">
            <input type="text" class="mail_text" placeholder="联系我们" name="Enter">
            <div class="subscribe_bt"><a href="#">提交</a></div>
        </div>
        <div class="location_main">
            <div class="call_text"><img src="images/call-icon.png"><a href="#" th:text="'电话：'+${session.company_phone}"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="images/mail-icon.png"><a href="#" >邮箱：2562694007qq.com</a>
            </div>


        </div>
        <div class="social_icon">

        </div>
    </div>
</div>

<div th:fragment="common_src">
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{js/plugin.js}"></script>
    <script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{js/custom.js}"></script>
<!--    <script th:src="@{js/owl.carousel.js}"></script>-->
    <script th:src="@{js/jquery.fancybox.min.js}"></script>
</div>


<div th:fragment="common_beinan" class="copyright_section">
    <div class="container">
        <p class="copyright_text"><a target="_blank" href="http://sc.chinaz.com/moban/">备案号</a></p>
    </div>
</div>
</body>
</html>