<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>空想家</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:include="common :: common_head">
</head>
<body>
<div th:replace="common :: common_section"></div>

<div class="services_section layout_padding" style="padding-top: 30px">
    <div class="container">
        <div style="text-align: center;font-weight:bold;font-style: italic;font-size: 40px;margin-bottom: 10px">
            <!--/*@thymesVar id="detailpage_name" type="templates"*/-->
            <span th:text="${session.detailpage_name}"></span>
        </div>
        <!--/*@thymesVar id="detailpage_content" type="templates"*/-->
        <div  th:utext="${session.detailpage_content}">
        </div>
    </div>
</div>

<div th:replace="common :: common_end"></div>
<div th:replace="common :: common_beinan"></div>
<div th:replace="common :: common_src"></div>
</body>
</html>
